<!doctype html>
<html>
	<head>
	    <meta charset="utf-8">
	    {% load static %}
		<link href="{% static 'kanban/base.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'kanban/login.css' %}" rel="stylesheet" type="text/css">
		<link rel="preconnect" href="https://fonts.googleapis.com">
        <!-- font -->
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;700&display=swap" rel="stylesheet">
        <title> {% block title %} Kanban Project Management System {% endblock %} </title>
	</head>
    <body>
        <div class="login-wrapper">
            <div class="login-img-wrapper">
                <img src="{% static 'kanban/imgs/graphic-woman-at-desk.svg' %}">
            </div>
            <div class="login-form-wrapper">
                <img class="login-logo" src="{% static 'kanban/imgs/logo-dark.svg' %}">
                <h3 class="sub-text-m">Welcome! Let us get started.</h3>
                {% for error in form.non_field_errors %}
                    <p class="errorlist">
                        {{ error }}
                    </p>
                {% endfor %}
                <form method="post" action="{% url 'register' %}">
                    {% csrf_token %}
                    {{ form }}
                    <button type="submit" class="button-large-main-purple width-max spaced-button">Register</button>
                </form>
                <a href="{% url 'login' %}" id="id_register_link">
                    <button class="button-secondary-l spaced-button oauth_button"> 
                        Login
                    </button>
                </a>
            </div>
        </div>
    </body>
</html>