

{% comment %}This is the page showing the workspace{% endcomment %}
<!doctype html>
<html>
	<head>
	    <meta charset="utf-8">
	    {% load static %}
		<link href="{% static 'kanban/base.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'kanban/workspace.css' %}" rel="stylesheet" type="text/css">
		<link rel="preconnect" href="https://fonts.googleapis.com">
        {% load crispy_forms_tags %}
        <!-- bootstrap -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
        <!-- font -->
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;700&display=swap" rel="stylesheet">
        <title> {% block title %} Kanban Project Management System {% endblock %} </title>
        <!-- Include the workspace.js file -->
        {% load static %}
        <script src="{% static 'kanban/workspace.js' %}"></script>
        <script src="{% static 'kanban/task.js' %}"></script>
        <script>
            const myUserName = "{{ request.user.username }}"
            const workspaceId = {{ selected_workspace.id }}
            window.onload = connectToServer
        </script>
        <!-- Pass the tasks data to JavaScript -->
        <script id="workspace-js" type="application/json">{{ tasks|safe }}</script>
	</head>
    <body>
        <div class="workspace-header-wrapper">
            <div class="header-logo">
                <img src="{% static 'kanban/imgs/logo-dark.svg' %}">
            </div>
            <div class="workspace-header-content">
                <div class="workspace-header-name">
                    <h2 class="heading-xl" id="workspace-heading">{{ selected_workspace.name }}</h2>
                    {% if edit_form %}
                        <button 
                            type="button" data-bs-toggle="modal" data-bs-target="#workspace-edit-modal"
                            class="edit-workspace-btn button-large-main-purple">
                            Edit
                        </button>
                    {% endif %}
                </div>
                <div id="message">
                </div>
                <div id="error">
                </div>
                <div class="workspace-header-options">
                    <a class="sub-text-m" href="{% url 'home' %}"> {{ username }} </a> 
                    <button 
                        type="button" data-bs-toggle="modal" data-bs-target="#task-creation-modal"
                        class="add-task-btn button-large-main-purple">
                        + Add New Task
                    </button>
                    <button class="ellipsis-btn" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="{% static 'kanban/imgs/icon-vertical-ellipsis.svg' %}"> 
                    </button>
                    <ul class="dropdown-menu customized-dropdown">
                        <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="sidebar-wrapper">
            <div class="sidebar-collapse-wrapper">
                <div class="heading-s sidebar-heading">ALL BOARDS ({{workspaces.count}})</div>
                <div class="sidebar-boards">
                    {% for ws in workspaces %}
                        <a class="link-no-underline" href="/workspace/{{ws.id}}">
                            {% if selected_workspace.id == ws.id %}
                                <div class="sidebar-board-option sidebar-board-option-active heading-m"> 
                                    <img src="{% static 'kanban/imgs/icon-board-white.svg' %}">
                                    <span class="sidebar-board-option-text"> {{ ws.name }} </span>
                                </div>

                            {% else %}
                                <div class="sidebar-board-option sidebar-board-option-inactive heading-m"> 
                                    <img src="{% static 'kanban/imgs/icon-board.svg' %}">
                                    <span class="sidebar-board-option-text"> {{ ws.name }}</span>
                                </div>
                            {% endif %}
                        </a>
                    {% endfor %}
                    
                    <button type="button" data-bs-toggle="modal" data-bs-target="#workspace-creation-modal"
                        class="sidebar-board-option sidebar-board-option-create-board heading-m"> 
                        <img src="{% static 'kanban/imgs/icon-board-purple.svg' %}">
                        + Create New Board
                    </button>
                </div>
            </div>
        </div>
        <div class="workspace-board" id="columns-div">
        </div>

        <!-- Workspace Creation Modal -->
        <div class="modal fade" id="workspace-creation-modal" tabindex="-1" aria-labelledby="workspace-creation-modal-label" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="workspace-creation-modal-label">Create New Board</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form method="post" class="modal-workspace-creation-form" action="../create-workspace">
                        {{ form }}
                        {% csrf_token %}
                        <button type="submit" class="button-large-main-purple modal-button">Submit</button>
                    </form>
                </div>
              </div>
            </div>
          </div>

        <!-- Workspace Edit Modal -->
        <div class="modal fade" id="workspace-edit-modal" tabindex="-1" aria-labelledby="workspace-edit-modal-label" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="workspace-edit-modal-label">Edit Workspace</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form method="post" class="modal-workspace-edit-form" action="{% url 'edit-workspace' selected_workspace_id=selected_workspace.id %}">
                        {{ edit_form }}
                        {% csrf_token %}
                        <button type="submit" class="button-large-main-purple modal-button">Submit</button>
                    </form>
                </div>
              </div>
            </div>
          </div>

        <!-- Task Creation Modal -->
        <div class="modal fade" id="task-creation-modal" tabindex="-1" aria-labelledby="task-creation-modal-label" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="task-creation-modal-label">Add New Task</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form class="modal-task-creation-form" id="modal-task-creation-form" action="/submit" method="post">
                        <label for="{{ task_form.taskname.id_for_label }}">Task Name:</label>
                        {{ task_form.taskname }}
                        <label for="{{ task_form.description.id_for_label }}">Description:</label>
                        {{ task_form.description }}
                        <label for="{{ task_form.assignee.id_for_label }}">Assignee:</label>
                        {{ task_form.assignee }}
                        <label for="{{ task_form.due_date.id_for_label }}">Due Date:</label>
                        <input type="date" id="{{ task_form.due_date.id_for_label }}" name="{{ task_form.due_date.name }}" value="{{ task_form.due_date.value }}">
                        <label for="{{ task_form.status.id_for_label }}">Status:</label>
                        {{ task_form.status }}
                        <label for="{{ task_form.sprint.id_for_label }}">Sprint:</label>
                        {{ task_form.sprint }}
                        <label for="{{ task_form.priority.id_for_label }}">Priority:</label>
                        {{ task_form.priority }}
                        {% csrf_token %}
                        <button type="submit" class="button-large-main-purple modal-button">Submit</button>
                    </form>
                </div>
              </div>
            </div>
        </div>

         <!-- Task Edit Modal -->
         <div class="modal fade" id="task-edit-modal" tabindex="-1" aria-labelledby="task-edit-modal-label" aria-hidden="true">
            <div class="modal-task-id" style="display: none;"></div>
            <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                <h1 class="modal-title fs-5" id="task-edit-modal-label">Edit Task</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form class="modal-task-edit-form" id="modal-task-edit-form" action="/submit" method="post">
                        <label for="{{ task_form.taskname.id_for_label }}">Task Name:</label>
                        {{ task_form.taskname }}
                        <label for="{{ task_form.description.id_for_label }}">Description:</label>
                        {{ task_form.description }}
                        <label for="{{ task_form.assignee.id_for_label }}">Assignee:</label>
                        {{ task_form.assignee }}
                        <label for="{{ task_form.creation_date.id_for_label }}">Creation Date:</label>
                        <input type="date" id="{{ task_form.creation_date.id_for_label }}" name="{{ task_form.creation_date.name }}" value="{{ task_form.creation_date.value }}" readonly>
                        <label for="{{ task_form.due_date.id_for_label }}">Due Date:</label>
                        <input type="date" id="{{ task_form.due_date.id_for_label }}" name="{{ task_form.due_date.name }}" value="{{ task_form.due_date.value }}">
                        <label for="{{ task_form.status.id_for_label }}">Status:</label>
                        {{ task_form.status }}
                        <label for="{{ task_form.sprint.id_for_label }}">Sprint:</label>
                        {{ task_form.sprint }}
                        <label for="{{ task_form.priority.id_for_label }}">Priority:</label>
                        {{ task_form.priority }}
                        {% csrf_token %}
                        <button type="submit" class="button-large-main-purple modal-button">Submit</button>
                      </form>                      
                </div>
            </div>
            </div>
        </div>

        <!-- boostrap -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
        <script>
            // Get a reference to the task creation form
            const task_creation_form = document.getElementById('modal-task-creation-form');

            // Add a submit event listener to the form
            task_creation_form.addEventListener('submit', (event) => {
                // Prevent the form from submitting normally
                event.preventDefault();
                
                // Get the values of the form fields
                const task = {
                    workspace: {{ selected_workspace.id }},
                    taskname: task_creation_form.taskname.value,
                    description: task_creation_form.description.value,
                    assignee: task_creation_form.assignee.value,
                    due_date: task_creation_form.due_date.value,
                    status: parseInt(task_creation_form.status.value),
                    sprint: parseInt(task_creation_form.sprint.value),
                    priority: parseInt(task_creation_form.priority.value),
                };

                // Call the sendAddTask() function with the task data
                sendAddTask(task);

                // Clear the form fields
                task_creation_form.reset();
                // Hide modal
                const task_creation_modal = document.querySelector('#task-creation-modal');
                const task_creation_modal_instance = bootstrap.Modal.getInstance(task_creation_modal);
                task_creation_modal_instance.hide();
            });
        
            // Get a reference to the task edit form
            const task_edit_form = document.getElementById('modal-task-edit-form');

            // Add a submit event listener to the form
            task_edit_form.addEventListener('submit', (event) => {
                // Prevent the form from submitting normally
                event.preventDefault();
                let id = document.querySelector("#task-edit-modal .modal-task-id");
                console.log(id);
                console.log(id.innerHTML)
                // Get the values of the form fields
                const task = {
                    id: parseInt(id.textContent),
                    workspace: {{ selected_workspace.id }},
                    taskname: task_edit_form.taskname.value,
                    description: task_edit_form.description.value,
                    assignee: task_edit_form.assignee.value,
                    due_date: task_edit_form.due_date.value,
                    status: parseInt(task_edit_form.status.value),
                    sprint: parseInt(task_edit_form.sprint.value),
                    priority: parseInt(task_edit_form.priority.value),
                };

                // Call the sendAddTask() function with the task data
                sendEditTask(task);

                // Clear the form fields
                task_creation_form.reset();
                
                // Hide modal
                const task_creation_modal = document.querySelector('#task-edit-modal');
                const task_creation_modal_instance = bootstrap.Modal.getInstance(task_creation_modal);
                task_creation_modal_instance.hide();
            })
        </script>
    </body>
</html>