.login-wrapper {
    display: flex;
    margin: 10vh 10vw 0;
    width: 70vw;
    justify-content: space-between;
    text-align: center;
}

.login-img-wrapper {
    width: 40vw;
    border-right: .5px solid var(--light-purple)
}

.login-form-wrapper {
    display: flex;
    flex-direction: column;
    width: 20vw;
    justify-content: center;
    text-align: center;
}

.width-max {
    width: 100%;
}

.login-icon-google {
    height: 30px;
    margin-right: 10px;
}

.spaced-button {
    margin-top: 10px;
}

form {
    display: flex;
    flex-direction: column;
}

/* handles error in otp.html */
.error {
    font-family: Plus Jakarta Sans;
    font-size: 12px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0px;
    text-align: left;
    color: var(--error-red);
}